
@{
    ViewBag.Title = "Customized";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Customized</h2>

<div class="demo-section k-content sortable-wrapper">
    <h4>Filter</h4>
    <p>Filtered items cannot be dragged and are not valid drop targets.</p>
    <div id="sortable-filter">
        <div class="not-sortable">Not sortable item 1</div>
        <div class="not-sortable">Not sortable item 2</div>
        <div class="sortable">Item 3</div>
        <div class="sortable">Item 4</div>
        <div class="sortable">Item 5</div>
        <div class="sortable">Item 6</div>
    </div>
</div>
 
<link href="~/asset/css/adminEntityCustomized.css" rel="stylesheet" />
 @section moduleScript{
      
<script src="~/asset/ts/appts/brands/customized.js"></script>
}