@using ECart.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
 @{Html.RenderAction("_EntityTop", "EntityComman",new { type = Enums.EntityHeader.Brands, crud= Enums.Crud.Insert }); }


<div id="gvBrands"></div>

<br />
<hr />
<h3>Live demo</h3>

<div class="contentWrapper">

    <div class="siblingsSlider" id="Brand_slider">
     
    </div>

</div>
<br /><br />
<input type="hidden" name="hndFilePath" id="hndFilePath" value="no.jpg" />
<link rel="stylesheet" href="http://fionna-chan.neocities.org/css/fSlider.css" type="text/css" />

<style>
    .fSliderWrapper .dotsWrapper {
        text-align: center;
    }
</style>

@section moduleScript{
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="http://fionna-chan.neocities.org/js/common.js"></script>
<script type="text/javascript" src="http://fionna-chan.neocities.org/js/responsive.js"></script>
<script type="text/javascript" src="http://fionna-chan.neocities.org/js/fSlider.js"></script>
<script src="~/asset/ts/appts/brands/view.js"></script>
<script src="~/asset/ts/appts/entityComman/searchEntity.js"></script>
<script>
$(document).ready(init_fn);
     
			function init_fn(pEvent)
{
			    setTimeout(function () {

			        var _slider1Touched = false;
			        var _slider2Touched = false;


			        siblingsSlider = $('.siblingsSlider').fSlider({
			            numOfNextSlides: 1,
			            slidesToShow: 1,
			            responsive: false,
			            loop: true,
			            centerMode: true,
			            showSiblingsHowMuch: 2.5,
			            autoplay: true
			        });

			    }, 5000)


				

			}
</script>
}