@model ECart.Areas.Admin.Models.EntityTopViewModel
<div class="row">
    <div class="col-lg-4">
        <h4>@Model.HeaderCaption</h4>
    </div>
        <div class="col-lg-4" style="text-align:right">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-lg-4" style="text-align:left">
            <a href="@Model.CustomizedUrl" class="btn btn-primary">customized</a>
            <a href="@Model.SetupUrl" class="btn btn-primary">Create new</a>
        </div>
</div>