@model ECart.Areas.Admin.Models.EntityTopViewModel
<div class="row">
    <div class="col-lg-4">
        <h4>@Model.HeaderCaption</h4>
    </div>
 
        <div class="col-lg-8" style="text-align:left">
            <input placeholder="Search..." id="ddSearch">
            <a href="@Model.CustomizedUrl" class="btn btn-primary">customized</a>
            <a href="@Model.SetupUrl" class="btn btn-primary">Create new</a>
         
        </div>
</div>
<br />
@section moduleScript{

    <script src="~/asset/ts/appts/brands/setup.js"></script>
}
 