<div  id="template_register">
    <form role="form">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="txtEmail" id="txtEmail" type="email" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Display Name" name="txtDiaplayName" id="txtDiaplayName" type="text" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="site domain" name="txtDomain" id="txtDomain" type="text" />
            </div>
            <hr />

            <div class="form-group">
                <input class="form-control" placeholder="Password" name="txtPassword" id="txtPassword" type="password" value="">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Confirm Password" name="txtConfrimPassword" id="txtConfrimPassword" type="password" value="">
            </div>
 
            <!-- Change this to a button or input when using this as a form -->
            <input type="button" class="btn btn-lg btn-success btn-block" data-loading-text="Loading..." value="Register" id="btnRegister" name="btnRegister" />
        </fieldset>
    </form>
</div>
