
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shop</title>
    <link href="http://themifycloud.com/demos/templates/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/price-range.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/animate.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/main.css" rel="stylesheet">
    <link href="http://themifycloud.com/demos/templates/eshop/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://themifycloud.com/demos/templates/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://themifycloud.com/demos/templates/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://themifycloud.com/demos/templates/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://themifycloud.com/demos/templates/eshop/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i><label > +2 95 01 88 821</label></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i><label> info@domain.com</label> </a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i><label> USD</label> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-envelope"></i><label> Contact Us</label> </a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i><label> About Us</label> </a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i><label> Facebook</label> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><span>E</span>-Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                @{ Html.RenderAction("_TopMenu");}
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    <section id="slider">
        <!--slider-->
        <div class="container">
          @{ Html.RenderAction("_ImageSlider");}
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                 
                <div class="col-sm-12 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="http://themifycloud.com/demos/templates/eshop/images/home/product1.jpg" alt="" />
                                        <h2>$56</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart viewMore"><i class="fa fa-shopping-cart"></i>View More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                    </div><!--features_items-->
  
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-Shop Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://invoinn.com/">InvoInn</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->

    @{ Html.RenderAction("_SiteInfomation");}
    @{ Html.RenderAction("_ItemInfomation");}

    <script src="http://themifycloud.com/demos/templates/eshop/js/jquery.js"></script>
    <script src="http://themifycloud.com/demos/templates/eshop/js/bootstrap.min.js"></script>
    <script src="http://themifycloud.com/demos/templates/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="http://themifycloud.com/demos/templates/eshop/js/price-range.js"></script>
    <script src="http://themifycloud.com/demos/templates/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="http://themifycloud.com/demos/templates/eshop/js/main.js"></script>
    <script src="~/asset/ts/appts/template/main.js"></script>
</body>
</html>