<div class="container" id="productImage">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="file" name="flItemImages" id="flItemImages" value="" /><br />
            <input type="button" name="btnImageUpload" value="Upload Image" class="btn btn-success" id="btnImageUpload" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/50_Cent_2012.jpg" alt="Product image" class="img-rounded" id="imgProductMain">
        </div>
    </div>
    <hr />
    <div class="row">
        <div id="gvItemImages"></div>
    </div>
    <br />
    <hr />
    <h2>Preview</h2>
</div>

