
<form>
    <div class="form-group">
        <label for="txtCurrentPassword">Current Password</label>
        <input type="password" class="form-control" id="txtCurrentPassword" name="txtCurrentPassword" placeholder="Password">
    </div>
    <br />
    <div class="form-group">
        <label for="txtNewPassword">New Password</label>
        <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="txtConfirmNewPassword">Confirm New Password</label>
        <input type="password" class="form-control" id="txtConfirmNewPassword" name="txtConfirmNewPassword" placeholder="Password">
    </div>
    <button type="button" class="btn btn-success" id="btnChangePassword">Change Password</button>
</form>