

<h4>Site Domain settings</h4>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter new domain</label>
        <input type="text" class="form-control" id="txtDomain" name="txtDomain" placeholder="Domain">
    </div>
    <button type="button" class="btn btn-success">Update</button>
</form>