
<h4>User settings</h4>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Display Name</label>
        <input type="text" class="form-control" id="txtDisplayName" name="txtDisplayName" paceholder="Display Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Registed Date</label>
        <input type="text" class="form-control" id="txtRegDate" name="txtRegDate"  disabled value=""  />
    </div>
    <button type="button" class="btn btn-success">Save</button>
</form>