@using ECart.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
@{Html.RenderAction("_EntityTop", "EntityComman", new { type = Enums.EntityHeader.Categories }); }

 
<div id="gvCategories"></div>

@section moduleScript{

    <script src="~/asset/ts/appts/categories/view.js"></script>

    <script src="~/asset/ts/appts/entityComman/searchEntity.js"></script>
}
