@using ECart.Areas.Admin.Models
<ul class="nav" id="side-menu">
 
    <li>
        <a href="/Admin/Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Entity<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/admin/@Enums.EntityHeader.Brands.ToString().ToLower()?mode=@((int)Enums.EntityHeader.Brands)">Brands</a>
            </li>
            <li>
                <a href="/admin/@Enums.EntityHeader.Categories.ToString().ToLower()?mode=@((int)Enums.EntityHeader.Categories)">Categories</a>
            </li>
            <li>
                <a href="/admin/@Enums.EntityHeader.Items.ToString().ToLower()?mode=@((int)Enums.EntityHeader.Items)">Products</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Site Settings<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/SiteUtilities/Sitesettings"><i class="fa fa-edit fa-fw"></i>Site Settings</a>
            </li>
            <li>
                <a href="/Admin/SiteUtilities/SitePages"><i class="fa fa-edit fa-fw"></i>Pages</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Template<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/Template"><i class="fa fa-edit fa-fw"></i>Template</a>
            </li>
            <li>
                <a href="/Admin/Template"><i class="fa fa-edit fa-fw"></i>Preview</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
   
    <li>
        <a href="/Admin/Help"><i class="fa fa-edit fa-fw"></i>Help</a>
    </li>
</ul>